body, div, p, canvas, h1, ul, li {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
body {
  position: relative;
  height: 100%;
  background: #000;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(174, 157, 125, 1);
}

#game {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#distance {
  position: absolute;
  bottom: 0;
  right: 0;
  font: normal 18px monospace;
  color: #fff;
  padding: 5px 10px;
  min-width: 100px;
  text-align: right;
  background: rgba(0, 0, 0, .2);
}
  #distance:after {
    content: 'm';
    font-size: 15px;
    color: #aaa;
  }

#stats {
  position: absolute;
  bottom: 0;
  right: 0;
  font: normal 18px monospace;
  color: #fff;
  padding: 0 10px;
  min-width: 50px;
  text-align: right;
  background: rgba(0, 0, 0, .2);
  list-style-type: none;
}
  #stats li {
    padding: 5px 0;
  }
  #stats span {
    color: #aaa;
    font-size: .7em;
  }
  
#menu {
  position: absolute;
  top: 50%;
  left: 0;
  width: 400px;
  height: 600px;
  margin-top: -300px;
  z-index: 50;
  color: #fff;
  font-size: 1.4em;
  background: rgba(0, 0, 0, .8);
}
  #menu h1 {
    text-align: center;
    font-size: 1.2em;
    font-weight: 300;
    padding: 8px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
  }
  #menu .setting {
    position: relative;
    display: block;
    padding: 5px;
    background: rgba(0, 0, 0, .5);
  }
  #menu .setting span,
  #menu .setting b {
    font-weight: 300;
    display: inline-block;
    vertical-align: middle;
  }
  #menu .setting b {
    width: 150px;
  }
  #menu .setting span {
    width: 234px;
    text-align: center;
  }
  #menu table {
    margin-top: 50px;
    width: 100%;
    border-collapse: collapse;
  }
  #menu table th:first-child {
    width: 150px;
  }
  #menu table th,
  #menu table td {
    text-align: left;
    font-size: .7em;
    font-weight: 300;
    padding: 4px;
    border: 1px solid rgba(255, 255, 255, .2);
  }
  #menu table th {
    background: rgba(0, 0, 0, .5);
    font-size: .9em;
  }
  #menu table tr:nth-child(2n) {
    background: rgba(0, 0, 0, .2);
  }
  #menu table tr:hover {
    background: rgba(0, 0, 0, .3);
  }

#weapon {
  position: absolute;
  bottom: 0;
  left: 0;
}
  #weapon .magazine {
    position: absolute;
    bottom: 15px;
    left: 10px;
    white-space: nowrap;
    list-style-type: none;
  }
    #weapon .magazine .bullet {
      display: inline-block;
    }
    
  #weapon .cooldown {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 48px;
    height: 5px;
    background: rgba(0, 0, 0, .3);
    border-radius: 2px;
  }
    #weapon .cooldown b {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      background: rgba(0, 0, 0, 1);
      border-radius: 2px;
    }
    
/* SHOTGUN */
#weapon.shotgun .magazine .bullet {
  position: relative;
  width: 16px;
  height: 35px;
  margin-left: 5px;
}
#weapon.shotgun .magazine .bullet .empty,
#weapon.shotgun .magazine .bullet .full {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
}
#weapon.shotgun .magazine .bullet .empty {
  top: 0;
  background-position: 50% 0%;
  background-image: url(images/shotgun/bullet-empty.png);
}
#weapon.shotgun .magazine .bullet .full {
  bottom: 0;
  background-position: 50% 100%;
  background-image: url(images/shotgun/bullet-full.png);
}
/*
#weapon.shotgun .magazine .bullet[data-full = "false"] .empty {
  display: block;
}
#weapon.shotgun .magazine .bullet[data-full = "true"] .full {
  display: block;
}
*/
/* SHOTGUN */

    /*
#weapon[data-ammo = '0'] {
  background-image: url(images/ammo-0.png);
}
#weapon[data-ammo = '1'] {
  background-image: url(images/ammo-1.png);
}
#weapon[data-ammo = '2'] {
  background-image: url(images/ammo-2.png);
}
*/