.menu.inventory-wrapper .handle:before {
  background-image: linear-gradient(to bottom, rgba(166, 166, 166, 0) 20%,
                                               rgba(166, 166, 166, 1) 25%,
                                               rgba(166, 166, 166, 0) 30%,
                                               rgba(166, 166, 166, 0) 45%,
                                               rgba(166, 166, 166, 1) 50%,
                                               rgba(166, 166, 166, 0) 55%,
                                               rgba(166, 166, 166, 0) 70%,
                                               rgba(166, 166, 166, 1) 75%,
                                               rgba(166, 166, 166, 0) 80%),
                     linear-gradient(to right, rgba(166, 166, 166, 0) 20%,
                                               rgba(166, 166, 166, 1) 25%,
                                               rgba(166, 166, 166, 0) 30%,
                                               rgba(166, 166, 166, 0) 45%,
                                               rgba(166, 166, 166, 1) 50%,
                                               rgba(166, 166, 166, 0) 55%,
                                               rgba(166, 166, 166, 0) 70%,
                                               rgba(166, 166, 166, 1) 75%,
                                               rgba(166, 166, 166, 0) 80%);
}
    
.inventory-wrapper {
  width: 500px;
}

.inventory .equipped {
  position: relative;
}
  .inventory .equipped .vehicle {
    position: relative;
    height: 240px;
    background: rgba(255, 255, 255, .1);
  }
    .inventory .equipped .vehicle .part {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 128px;
      height: 128px;
      margin: -64px -64px;
      box-shadow: 0 0 0 1px rgba(90, 90, 90, 1),
                  2px 2px 2px 1px rgba(0, 0, 0, .7) inset;
      background-color: rgba(0, 0, 0, .3);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 128px 128px;
      transition: transform 250ms ease,
                  background-color 250ms ease,
                  box-shadow 250ms ease;
    }
    .inventory .equipped .vehicle .part.wheels {
      transform: translate(0, calc(50% + 5px)) scale(.5);
      transition-delay: 0ms;
    }
    .inventory .equipped .vehicle .part.engine {
      transform: translate(0, 0) scale(.5);
      transition-delay: 0ms;
    }
    .inventory .equipped .vehicle .part.body {
      transform: translate(0px, calc(-50% - 5px)) scale(.5);
      transition-delay: 100ms;
    }
    .inventory .equipped .vehicle .part.front {
      transform: translate(calc(50% + 5px), calc(-25% - 3px)) scale(.5);
      transition-delay: 250ms;
    }
    .inventory .equipped .vehicle .part.rear {
      transform: translate(calc(50% + 5px), calc(25% + 2px)) scale(.5);
      transition-delay: 250ms;
    }
    .inventory .equipped .vehicle .part.turret {
      transform: translate(calc(100% + 10px), 0) scale(.5);
      transition-delay: 300ms;
    }
    .inventory .equipped .vehicle .part.vanity {
      transform: translate(calc(-50% - 5px), calc(-25% - 3px)) scale(.5);
      transition-delay: 350ms;
    }
    .inventory .equipped .vehicle .part.morale {
      transform: translate(calc(-50% - 5px), calc(25% + 2px)) scale(.5);
      transition-delay: 350ms;
    }
    .inventory .equipped .vehicle.show-built .part {
      transform: translate(0, 0) scale(1);
      background-color: transparent;
      box-shadow: 0 0 0 1px rgba(170, 170, 170, 0);
    }
    .inventory .equipped .vehicle:not(.show-built) .part:hover {
    }
    
  .inventory .equipped .weapons {
    text-align: center;
    padding: 5px 0;
    height: 42px;
  }
    .inventory .equipped .weapons .weapon {
      position: relative;
      display: inline-block;
      width: 42px;
      height: 42px;
      padding: 2px;
      margin: 0 5px;
      border: 1px solid #444;
      background-color: #000;
      box-sizing: border-box;
    }
      .inventory .equipped .weapons .weapon .key {
        position: absolute;
        left: 0;
        bottom: 0;
        line-height: 1;
        margin: 1px;
        font-size: .8em;
        opacity: .4;
        pointer-events: none;
      }
      .inventory .equipped .weapons .weapon.equipped-true .key,
      .inventory .equipped .weapons .weapon.equipped-false:hover .key {
        opacity: .6;
      }
    .inventory .equipped .weapons .weapon.equipped-true {
      border: 1px solid #aaa;
    }
    .inventory .equipped .weapons .weapon.equipped-false:hover {
      border: 1px solid #888;
    }
    
    .inventory .equipped .toggle-built {
      position: absolute;
      top: 0;
      right: 0;
      margin: 5px;
      padding: 3px 6px;
      font-size: .7em;
      border: 1px solid #aaa;
      background: rgba(0, 0, 0, .8);
      color: #fff;
      border-radius: 4px;
      cursor: default;
    }
  
.inventory .item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
}
.inventory .item.shotgun {
  background-image: url(/images/shotgun/bullet-full.png);
}
.inventory .item.pistol {
  background-image: url(/images/pistol/bullet-full.png);
}
.inventory .item.rifle {
  background-image: url(/images/rifle/bullet-full.png);
}
.inventory .item.assault {
  background-image: url(/images/rifle/bullet-full.png);
}

.inventory .owned {
  position: relative;
  height: 200px;
}
  .inventory .owned .tab-labels {
    position: relative;
    z-index: 5;
    height: 34px;
    line-height: 34px;
    font-size: .6em;
    text-transform: capitalize;
  }
    .inventory .owned .tab-labels .tab-label {
      display: inline-block;
      margin-left: 3px;
      width: 50px;
      height: 34px;
      text-align: center;
      border: 1px solid #fff;
      border-radius: 4px 4px 0 0;
      border-bottom-width: 0;
      cursor: pointer;
    }
    .inventory .owned .tab-labels .tab-label:hover {
      background: #333;
    }
    .inventory .owned .tab-labels .tab-label.active {
      background: #fff;
      color: #000;
    }
  .inventory .owned .tab-contents {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    border-top: 1px solid #fff;
  }
    .inventory .owned .tab-contents .tab-content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 1px 0 0 1px;
      display: none;
    }
    .inventory .owned .tab-contents .tab-content.active {
      display: block;
    }
      .inventory .owned .tab-contents .tab-content .item {
        width: 32px;
        height: 32px;
        border: 1px solid #aaa;
        margin: 5px;
        padding: 5px;
      }

.inventory .status {
  height: 24px;
  line-height: 24px;
  text-align: center;
}