.inventory .equipped {
  position: relative;
}
  .inventory .equipped .vehicle {
    position: relative;
    height: 240px;
    background: rgba(255, 255, 255, .1);
  }
    .inventory .equipped .vehicle .part {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 128px;
      height: 128px;
      margin: -64px -64px;
      box-shadow: 0 0 0 1px rgba(90, 90, 90, 1),
                  2px 2px 2px 1px rgba(0, 0, 0, .7) inset;
      background-color: rgba(0, 0, 0, .3);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 128px 128px;
      transition: transform 250ms ease,
                  background-color 250ms ease,
                  box-shadow 250ms ease;
    }
    .inventory .equipped .vehicle .part.wheels {
      transform: translate(0, calc(50% + 5px)) scale(.5);
      transition-delay: 0ms;
    }
    .inventory .equipped .vehicle .part.engine {
      transform: translate(0, 0) scale(.5);
      transition-delay: 0ms;
    }
    .inventory .equipped .vehicle .part.body {
      transform: translate(0px, calc(-50% - 5px)) scale(.5);
      transition-delay: 100ms;
    }
    .inventory .equipped .vehicle .part.front {
      transform: translate(calc(50% + 5px), calc(-25% - 3px)) scale(.5);
      transition-delay: 250ms;
    }
    .inventory .equipped .vehicle .part.rear {
      transform: translate(calc(50% + 5px), calc(25% + 2px)) scale(.5);
      transition-delay: 250ms;
    }
    .inventory .equipped .vehicle .part.turret {
      transform: translate(calc(100% + 10px), 0) scale(.5);
      transition-delay: 300ms;
    }
    .inventory .equipped .vehicle .part.vanity {
      transform: translate(calc(-50% - 5px), calc(-25% - 3px)) scale(.5);
      transition-delay: 350ms;
    }
    .inventory .equipped .vehicle .part.morale {
      transform: translate(calc(-50% - 5px), calc(25% + 2px)) scale(.5);
      transition-delay: 350ms;
    }
    .inventory .equipped .vehicle.show-built .part {
      transform: translate(0, 0) scale(1);
      background-color: transparent;
      box-shadow: 0 0 0 1px rgba(170, 170, 170, 0);
    }
    .inventory .equipped .vehicle:not(.show-built) .part:hover {
    }
    
  .inventory .equipped .weapons {
    text-align: center;
    padding: 5px 0;
    height: 42px;
  }
    .inventory .equipped .weapons .weapon {
      position: relative;
      display: inline-block;
      width: 42px;
      height: 42px;
      padding: 2px;
      margin: 0 5px;
      border: 1px solid #444;
      background-color: #000;
      box-sizing: border-box;
    }
      .inventory .equipped .weapons .weapon .key {
        position: absolute;
        left: 0;
        bottom: 0;
        line-height: 1;
        margin: 1px;
        font-size: .8em;
        opacity: .4;
        pointer-events: none;
      }
      .inventory .equipped .weapons .weapon.equipped-true .key,
      .inventory .equipped .weapons .weapon.equipped-false:hover .key {
        opacity: .6;
      }
    .inventory .equipped .weapons .weapon.equipped-true {
      border: 1px solid #aaa;
    }
    .inventory .equipped .weapons .weapon.equipped-false:hover {
      border: 1px solid #888;
    }
    
    .inventory .equipped .toggle-built {
      position: absolute;
      top: 0;
      right: 0;
      margin: 5px;
      padding: 3px 6px;
      font-size: .7em;
      border: 1px solid #aaa;
      background: rgba(0, 0, 0, .8);
      color: #fff;
      border-radius: 4px;
      cursor: default;
    }
  
.inventory .held-weapon {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
}
.inventory .held-weapon.shotgun {
  background-image: url(/images/shotgun/bullet-full.png);
}
.inventory .held-weapon.pistol {
  background-image: url(/images/pistol/bullet-full.png);
}
.inventory .held-weapon.rifle {
  background-image: url(/images/rifle/bullet-full.png);
}
.inventory .held-weapon.assault {
  background-image: url(/images/rifle/bullet-full.png);
}

.inventory .owned {
  position: relative;
  height: 200px;
  padding: 0 1px;
}
  .inventory .owned:after {
    content: '';
    clear: both;
    float: none;
    height: 0;
    width: 0;
  }
.inventory-slot {
  position: relative;
  float: left;
  width: 48px;
  height: 48px;
  margin: 0 1px 1px 0;
  box-shadow: 0 0 0 1px rgba(40, 40, 40, 1),
              1px 1px 3px 0 rgba(0, 0, 0, .8) inset;
  background-color: rgba(174, 157, 125, 0.5);
}
.inventory-slot.hover {
  z-index: 5;
  box-shadow: 0 0 0 1px rgba(50, 50, 50, 1),
              1px 1px 3px 0 rgba(0, 0, 0, .8) inset;
  background-color: rgba(174, 157, 125, 0.7);
}
  .inventory-slot .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 3px;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }
  .inventory-slot .type {
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 12px;
    margin: 5px;
    pointer-events: none;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

#moving-item {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 100;
  margin: -38px 0 0 -38px;
  pointer-events: none;
  background-color: rgba(174, 157, 125, 1);
  box-shadow: 0 0 0 1px rgba(40, 40, 40, 1),
              0 0 3px 0 rgba(0, 0, 0, .8);
}
  

.inventory .status {
  height: 24px;
  line-height: 24px;
  text-align: center;
}

.inventory-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 300px;
  padding: 10px;
  color: #fff;
  background: #000;
  z-index: 100;
  pointer-events: none;
}