body, div, p, canvas, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
}
b {
  font-weight: inherit;
}

html {
  height: 100%;
}
body {
  position: relative;
  height: 100%;
  background: #000;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(174, 157, 125, 1);
}

#game {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#stats {
  position: absolute;
  bottom: 0;
  right: 0;
  font: normal 18px monospace;
  color: #fff;
  padding: 0 10px;
  min-width: 50px;
  text-align: right;
  background: rgba(0, 0, 0, .2);
  list-style-type: none;
}
  #stats li {
    padding: 5px 0;
  }
  #stats span {
    color: #aaa;
    font-size: .7em;
  }



.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 492px;
  z-index: 50;
  color: #fff;
  font-size: 1.2em;
  transition: transform 250ms ease-in;
}
.menu:hover,
.menu.left:hover,
.menu.right:hover {
  transition-timing-function: ease-out;
  transform: translateX(0);
}
.menu:hover .content,
.menu.left:hover .content,
.menu.right:hover .content {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 1),
              0 0 10px 0 rgba(0, 0, 0, .7);
}

  .menu:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50px;
  }
  .menu .handle {
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, .8);
    transition: transform 210ms ease-in,
                opacity 210ms ease-in;
  }
  .menu:hover .handle {
    transition-timing-function: ease-out;
    opacity: 0;
  }
    .menu .handle:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 30px;
      margin: -15px 0 0 -15px;
    }
  .menu .title {
    text-align: center;
    font-size: 1.2em;
    font-weight: 300;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
  }

.menu .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .8);
}

.menu.left {
  left: 0;
  transform: translateX(-100%);
}
  .menu.left .content {
    border-radius: 0 0 10px 0;
  }
  .menu.left:before {
    left: 100%;
  }
  .menu.left .handle {
    left: 100%;
    border-radius: 0 0 5px 0;
  }
  .menu.left:hover .handle {
    transform: translateX(-100%);
  }
  
.menu.right {
  right: 0;
  transform: translateX(95%);
}
  .menu.right .content {
    top: 50%;
    height: 570px;
    margin-top: -285px;
    border-radius: 0 0 0 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 1),
                0 0 10px 0 rgba(0, 0, 0, .7);
  }
  .menu.right:before {
    right: 100%;
  }
  .menu.right .handle {
    display: none;
  }


.menu.settings {
  padding-bottom: 20px;
}
.menu.settings .handle:before {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%,
                                               rgba(255, 255, 255, 1) 15%,
                                               rgba(255, 255, 255, 0) 20%,
                                               rgba(255, 255, 255, 0) 45%,
                                               rgba(255, 255, 255, 1) 50%,
                                               rgba(255, 255, 255, 0) 55%,
                                               rgba(255, 255, 255, 0) 80%,
                                               rgba(255, 255, 255, 1) 85%,
                                               rgba(255, 255, 255, 0) 90%);
}

.settings .setting {
  position: relative;
  display: block;
  padding: 0 5px;
  background: rgba(0, 0, 0, .5);
}
.settings .setting span,
.settings .setting b {
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
}
.settings .setting.range b {
  width: 150px;
}
.settings .setting.range span {
  width: 234px;
  text-align: center;
}
.settings .setting.checkbox {
  padding: 5px;
}
.settings table {
  width: 100%;
  border-collapse: collapse;
}
.settings table th:first-child {
  width: 150px;
}
.settings table th,
.settings table td {
  text-align: left;
  font-size: .8em;
  font-weight: 300;
  padding: 4px;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}
.settings table th:first-child,
.settings table td:first-child {
  border-right: 1px solid rgba(255, 255, 255, .2);
}
.settings table th {
  background: rgba(0, 0, 0, .5);
  font-size: .9em;
}
.settings table tr:nth-child(2n) {
  background: rgba(0, 0, 0, .2);
}
.settings table tr:hover {
  background: rgba(0, 0, 0, .3);
}

.notification {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 250px;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  margin-left: -135px;
  text-align: left;
  font-size: 1.1em;
  border-radius: 6px 6px 0 0;
  color: #fff;
  background: rgba(0, 0, 0, .7);
  transform: translateY(100%);
  transition: transform 170ms ease-in-out;
}
.notification.visible {
  transform: translateY(0%);
}
  .notification .icon {
    display: inline-block;
    vertical-align: middle;
    height: 26px;
    width: 26px;
    margin-top: -4px;
    margin-right: 4px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .5);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }